    /* --w "esta operacion es un calculo matematico que me da el cuado de 6*4 los cuadritos, y los guiones antes de las letras han servido pa declarar"*/
    :root{
        --w:calc(70vw/6)
        --h:calc(70vh/4)
    }
    
    /*Transicion animable de 0.5 segundos / el "*" para objetos html*/
    *{
        transition: all 0.5s;
    }

    /*Efecto 3D*/
    body{
        padding: 0;
        margin: 0;
        /*-webkit-perspective: 1000 ; */      
    }

    .area-tarjeta, 
    .tarjeta, 
    .cara-trasera,.cara-superior{
      width: var(--w);
      min-width: 80px;
      height: var(--h); 
    }
    
    .tarjeta{
        position: relative;
    }

    .cara-trasera{
        background-color: brown;
        position: absolute;
    }
    .cara-superior{
        background: linear-gradient(rgb(21, 89, 109));
    }
